.about-us {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #333;
    gap: 20px;
    /* Add gap to maintain space between left and right sides */
}

.left-side {
    color: white;
    width: 100%;
    /* Full width on small screens */
    max-width: 600px;
    /* Limit max width on larger screens */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.right-side {
    width: 100%;
    /* Full width on small screens */
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side img {
    max-width: 100%;
    /* Limit image width to 80% of its parent */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 10px;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .left-side {
        width: calc(50% - 10px);
        /* Take half the width minus half the gap */
    }

    .right-side {
        width: calc(50% - 10px);
        /* Take half the width minus half the gap */
    }
}